#header{
  background-color: aqua;
  text align: center;
  border-width: 1px;
  border-style: solid;
  border-color: black; 
}
#list{
background-color: aqua;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  padding: 15px;
  margin-left: 35%;
}
img {
  margin-right: 20%;
  margin-left: 20%;
  border-width: 2px;
  border-style: solid;
  border-color: pink;
  padding-left: 10px;
  padding-right: 10px;
}

h1 {
  text-align: center;
  border-bottom-width: 1px;
  border-bottom-style: dashed;
  border-bottom-color: purple;
}

img {
  border-radius: 50%;
  width: 50%;
  height: 25%;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  display: block;
  margin-left: 25%;
  margin-right: 25%;
   
}

#navlinks {
  position: fixed;
}
#footer {
  background-color: yellow;
  border-width: 1px;
  border-style: solid;
  border-style: solid;
  padding: 15px;
  text-align: center;
  
}